.table
  = menu_bar do |mainbar|
    - mainbar.menu :home, 'Home', dashboard_index_path do |homebar|
      - homebar.menu :overview, 'Overview', dashboard_index_path
    - mainbar.menu :users, 'Users', users_path do |userbar|
      - userbar.menu :all, 'All users', users_path
      - userbar.menu :new, 'New user', new_user_path
  
  /%ul.current
  /  %li
  /    = link_to content_tag(:string, "Home"), dashboard_index_path
  /    .select_sub.show
  /      %ul.sub
  /        %li.sub_show= link_to "Dashboard", dashboard_index_path

  /.nav-divider &nbsp;
              
  /%ul.select
  /  %li
  /    = link_to content_tag(:string, "Users"), users_path
  /    .select_sub
  /      %ul.sub
  /        %li.sub_show= link_to "All users", users_path
  /        %li= link_to "New user", new_user_path

  /.nav-divider &nbsp;

.clear
