.table
  = menu_bar do |mainbar|
    - mainbar.menu :home, 'Home', dashboard_index_path do |homebar|
      - homebar.menu :overview, 'Overview', dashboard_index_path, :match_url => "^/(dashboard/index){0,1}$"
    - mainbar.menu :mail, 'Mail', mail_dashboard_index_path, :match_url => "^/mail" do |mailbar|
      - mailbar.menu :overview, 'Overview', mail_dashboard_index_path
      - mailbar.menu :domains, 'Domains', mail_domains_path, :match_url => "^/mail/domains"
      - mailbar.menu :mailboxex, 'Mailboxes', mail_mailboxes_path, :match_url => "^/mail/mailboxes"
      - mailbar.menu :aliases, 'Aliases', mail_aliases_path, :match_url => "^/mail/aliases"
      - mailbar.menu :white_list, 'White list', mail_white_list_index_path, :match_url => "^/mail/white"
      - mailbar.menu :black_list, 'Black list', mail_black_list_index_path, :match_url => "^/mail/black"
    - mainbar.menu :users, 'Users', users_path do |userbar|
      - userbar.menu :all, 'All users', users_path
      - userbar.menu :new, 'New user', new_user_path
.clear
