
%table(border="0" cellpadding="0" cellspacing="0")
  %tr
    %td
      <input type="text" value="Search" onblur="if (this.value=='') { this.value='Search'; }" onfocus="if (this.value=='Search') { this.value=''; }" class="top-search-inp" />
    %td
      <select  class="styledselect">
      <option value=""> All</option>
      <option value=""> Products</option>
      <option value=""> Categories</option>
      <option value="">Clients</option>
      <option value="">News</option>
      </select> 
    %td
      <input type="image" src="images/shared/top_search_btn.gif"  />